/ProyectoTranversalULP43/nbproject/private/
*.properties
ProyectoTranversalULP43/nbproject/private/private.properties
ProyectoTranversalULP43/nbproject/project.properties
ProyectoTranversalULP43/nbproject/private/private.properties
ProyectoTranversalULP43/nbproject/project.properties
ProyectoTranversalULP43/nbproject/private/private.properties
ProyectoTranversalULP43/nbproject/project.properties
ProyectoTranversalULP43/src/AccesoADatos/Conectar.java
*.java
ProyectoTranversalULP43/src/AccesoADatos/Conectar.java

*.class
*.form
*.properties
*.properties
*.xml
ProyectoTranversalULP43/src/AccesoADatos/Conectar.java
ProyectoTranversalULP43/nbproject/private/private.properties
ProyectoTranversalULP43/nbproject/private/private.xml
ProyectoTranversalULP43/src/Vistas/MenuPrincipal.java
