/ProyectoTranversalULP43/nbproject/private/
*.properties
ProyectoTranversalULP43/nbproject/private/private.properties
ProyectoTranversalULP43/nbproject/project.properties
ProyectoTranversalULP43/nbproject/private/private.properties
ProyectoTranversalULP43/nbproject/project.properties
